@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&family=Josefin+Sans:wght@300;400;600&display=swap');

h2{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 30px;
}
a button{
	display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #ff085a #000 #ff085a;
  border-radius: 6px;
  background: #f20056;
  transition: 0.2s;
}
.container{
  padding-top: 20px;
}
.product-app-container{
	text-align: center;
}
.btn-success{
	font-size: 16px;
	display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #4aafde #000 #4aafde;
  border-radius: 6px;
  background: #0c9ff2;
  transition: 0.2s;
  margin-left: 15px;
}
.btn-info{
	font-size: 16px;
display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: #ffa407;
  transition: 0.2s;
  margin-left: 15px;
}
.btn-primary{
	font-size: 16px;
display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #7b00d6 #000 #7b00d6;
  border-radius: 6px;
  background: #8351df;
  transition: 0.2s;
  margin-left: 15px;
}
.btn-danger{
	font-size: 16px;
display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #ff085a #000 #ff085a;
  border-radius: 6px;
  background: #f20056;
  transition: 0.2s;
  margin-left: 15px;
}
.button{
	margin-bottom: 50px;
}

input{
	width: 40%;
	margin-bottom: 20px;
	font-size: 14px;
	padding: 10px 10px 10px 20px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
	outline: none;
}

table {
margin: 20px auto;
font-family: Fira Sans;
width: 80%;
	border: none;
	margin-bottom: 20px;
	border-collapse: separate;

}
th {
font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #EDEDED;
	font-size: 14px;
	border-top: 1px solid #ddd;
}
td {
text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
